{% extends "base.html.twig" %}
{% block title %}
    <h1>
        Modification du mot de passe 
                                                                                                                                    
                                                                                                                            
                                                                                                                    
                                                                                                            
                                                                                                    
                                                                                            
                                                                                    
                                                                            
                                                                    
                                                            
                                                    
                                            
                                    
                            
                    
            
    </h1>
{% endblock %}
{% block content %}
    <div class="container">
        <h5>
            Modification de votre mot de passe ? 
                                                                                                                                                                                            
                                                                                                                                                                                
                                                                                                                                                                    
                                                                                                                                                        
                                                                                                                                            
                                                                                                                                
                                                                                                                    
                                                                                                        
                                                                                            
                                                                                
                                                                    
                                                        
                                            
                                
                    
        </h5>
        <a href="{{ path('account') }}">
            - Retourner à mon compte               
                                                                                                                                                                           
                                                                                                                                                
                                                                                                                                
                                                                                                                    
                                                                                                        
                                                                                            
                                                                                
                                                                    
                                                        
                                            
                                
                    
        </a>
        {% if notification %}
            <div class=" alert alert-info">
                {{ notification }}
            </div>
        {% endif %}
        <hr>
            {{ form (form) }}
                <hr></div>
            {% endblock %}
            